<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpotSync Insights</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='css/favicon_package/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='css/favicon_package/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='css/favicon_package/favicon-16x16.png') }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body>

    <div class="header1">
     </div>
     <div class="header2">
       <h1>SpotSync Insights</h1>
    </div>


    <br>
    <br>
    <div class="center">
        <a href="/dest" class="fontpage_anchor">Genre Data</a>
    </div>
<br>
    <div class="center">
        <a href="/temp" class="fontpage_anchor">Find Underrated Songs</a>
    </div>
    <script src="{{ url_for('static', filename='css/dot.js') }}"></script>
<br>

<div class="center">
    <a href="/searchlike" class="fontpage_anchor">Find Songs Like</a>

</div>
<br>
<div class="center">
    <a href="/" class="fontpage_anchor">Analysis</a>

</div>



<hr class="hr">
<div class="footer">
    <a href="https://github.com/terrelldavis1224" style="margin-right: 10px;">GitHub&#128187;</a>
    <a href="https://www.linkedin.com/in/terrell-davis-31b074143/">LinkedIn&#128100;</a>
</div>
</body>




</html>
